{% extends "base.html" %}
{% load static %}

{% load allauth i18n %}

{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}

{% block content %}
<div class="row px-5 py-3">
    <div class="col-md-12">
        {% element h1 %}
            {% trans "Sign Up" %}
        {% endelement %}
        <p>
            {% blocktrans %}Already have an account? Then please sign in.{% endblocktrans %}
        </p>
        <p><a class="btn btn-outline-secondary btn-sm" href="{{ login_url }}">Login</a></p>
    </div>
</div>
<div class="row p-5">
    <div class="col-md-12">
        {% url 'account_signup' as action_url %}
        {% element form form=form method="post" action=action_url tags="entrance,signup" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {% if redirect_field_value %}
                    <input type="hidden"
                        name="{{ redirect_field_name }}"
                        value="{{ redirect_field_value }}" />
                {% endif %}
            {% endslot %}
            {% slot actions %}
                <button type="submit" class="btn btn-outline-dark btn-sm">Sign Up</button>
            {% endslot %}
        {% endelement %}
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div>
</div>
    
{% endblock content %}
