{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<article class="container-fluid">
    <div class="row mx-2">
        <div class="col-md 4">
            {% if "placeholder" in workout.featured_image.url %}
            <img class="scale" src="{% static 'images/defaultimage.jpg' %}" alt="placeholder image">
            {% else %}
            <img class="scale" src=" {{ workout.featured_image.url }}" alt="{{ post.title }}">
            {% endif %}
        </div>
        <div class="col-md-6 mt-5 gray-bg border">
            <h2>{{ workout.title }}</h2>
            <p>{{ workout.workout | safe }}</p>
        </div>
        
    </div>
    <hr class="card-hr">
</article>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-4">
            <h3>Enter your score and comment here</h3>
        </div>
        <div class="col-md-6">
            <h3>Current scores</h3>
        </div>
        
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                <p><strong>Athlete:</strong> {{ user.username }}</p>
                <form id ="workoutcommentForm" method="post">
                    {{ workout_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-outline-success btn-sm">Submit</button>
                </form>
                <p class="text-muted small">*all comments and scores are subject to review</p>
                {% else %}
                <p>Log in to leave a score</p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6 card my-4 card-comment">
            <div class="card-body">
                {% for workoutcomment in workoutcomments %}
                <div class="card-border p-2 my-4 comment-gray-bg {% if not workoutcomment.approved and workoutcomment.author == user %}white-bg{% elif not workoutcomment.approved %}d-none{% endif %}">
                    <h4>{{ workoutcomment.author }}</h4>
                    <hr>
                    <h5>Total Score: {{ workoutcomment.score_number }} reps</h5>
                    <div id="workout_comment{{ workoutcomment.id }}">
                        <p>{{ workoutcomment.workout_comment }}</p>
                    </div>
                    {% if not workoutcomment.approved and workoutcomment.author == user %}
                    <p class="text-muted small"><em>*Your comment and score is waiting verification</em></p>
                    {% endif %}
                    {% if user.is_authenticated and workoutcomment.author == user %}
                    <button class="btn btn-outline-danger btn-sm btn-delete" comment_id="{{ workoutcomment.id }}">Delete</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-heaader">
                <h5 class="modal-title">
                    Are you sure you want to delete?
                </h5>
                <button tyoe="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                This action cannot be undone
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">Keep Comment</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>

</div>

{% endblock content %}

{% block jsscript %}
<script src="{% static 'js/workout_comments.js' %}"></script>
{% endblock %}