{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h2 class="text-center">Welcome to the Workouts page</h2>
            <p class="text-center">
                Get ready to sweat, smile, and celebrate every step of progress on your path to a stronger, healthier you.
            </p>
        </div>
    </div>
    
    <hr>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                {% for workout in workout_list %}
                <article class="col-md-4">
                    <div>
                        <div class="card-body mb-4">
                            <div class="image-container">
                                {% if "placeholder" in workout.featured_image.url %}
                                <img class="card-img-top img-blog" src="{% static 'images/defaultimage.jpg' %}" alt="placeholder image">
                                {% else %}
                                <img class="card-img-top img-blog" src=" {{ workout.featured_image.url }}" alt="{{ workout.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ workout.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'workout_detail' workout.slug %}">
                                <h2 class="card-title">{{ workout.title }}</h2>
                            </a>
                            <p class="card-text">{{ workout.excerpt }}</p>
                            <hr />
                            <p class="card-text text-muted h6">{{ workout.created_on}}</p>
                        </div>
                    </div>
                </article>
                {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row"> 
                {% endif %}   
                {% endfor %}
            </div>
        </div>
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation pb-3" class="py-2">
        <ul class="pagination justify-content-center">
            <li>
                <a href="{% if page_obj.has_previous %} ?page={{ page_obj.previous_page_number }} {% endif %}" 
                class="{% if page_obj.has_previous %} btn btn-outline-dark btn-sm {% else %} d-none {% endif %} ">
                &laquo; PREV
                </a>
            </li>
            <li class="px-3 mt-1">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
            <li>
                <a href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }} {% endif %}" 
                class="{% if page_obj.has_next %} btn btn-outline-dark btn-sm {% else %} d-none {% endif %}">
                NEXT &raquo;
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}

</div>
{% endblock content %}