{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container"></div>
    <div class="row mx-5">
        <div class="col-md-6">
            <h2>{{ workout.title }}</h2>
            <p>{{ workout.workout | safe }}</p>
        </div>
        <div class="col-md 4">
            {% if "placeholder" in workout.featured_image.url %}
            <img class="scale" src="{% static 'images/defaultimage.jpg' %}" alt="placeholder image">
            {% else %}
            <img class="scale" src=" {{ workout.featured_image.url }}" alt="{{ post.title }}">
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-around">
        <div class="col-md-6 card mb-4  mt-3">
            <h2>Comments</h2>
            <div class="card-body">
                {% for workoutcomment in workoutcomments %}
                <div class="p-2 mt-2" style="border: 1px dotted black">
                    <h3>{{ workoutcomment.author }}</h3>
                    <h5>Total Score: {{ workoutcomment.score_number }} reps</h5>
                    <p>{{ workoutcomment.workout_comment }}</p>
                    
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                <h2>Comment Edit section</h2>
                <form action="">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}