/* Google Fonts <uniquifier>: 
Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
} */

/* Navbar */
.navbar {
  background-color: #CFD0D0;
}

.navbar-brand {
  color:black;
  font-weight: bold;
}

.nav-link {
  color: black;
  font-weight: 500;
}


.navtitle {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.contact-me-home {
  background-color: #CFD0D0;
}

/* images */

.scale {
  width: 100%;
  height: auto;
  padding: 50px;
}