{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container"></div>
    <div class="row mx-5">
        <div class="col-md-6">
            <h2>{{ post.title }}</h2>
            <p>{{ post.content | safe }}</p>
        </div>
        <div class="col-md 4">
            {% if "placeholder" in post.featured_image.url %}
            <img class="scale" src="{% static 'images/defaultimage.jpg' %}" alt="placeholder image">
            {% else %}
            <img class="scale" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-around">
        <div class="col-md-6 card mb-4  mt-3">
            <h2>Comments</h2>
            <div class="card-body">
                {% for comment in comments %}
                <div class="p-2 mt-2" style="border: 1px dotted black">
                    <h3>{{ comment.author }}</h3>
                    <p>{{ comment.body }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h2>Comment Edit section</h2>
                <p> {{ user.username }}</p>
                <form id ="blogcommentForm" method="post">
                    {{ blog_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit">Post Comment</button>
                </form>
                {% else %}
                <p>Log in to leave a commment</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}