{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<article class="container-fluid">
    <div class="row mx-2">
        <div class="col-md-6 mt-5 gray-bg border">
            <h2>{{ post.title }}</h2>
            <hr>
            <p>{{ post.content | safe }}</p>
        </div>
        <div class="col-md 4">
            {% if "placeholder" in post.featured_image.url %}
            <img class="scale" src="{% static 'images/defaultimage.jpg' %}" alt="placeholder image">
            {% else %}
            <img class="scale" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
            {% endif %}
        </div>
    </div>
    <hr class="card-hr">
</article>



<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-6">
            <h3>Comments</h3>
        </div>
        <div class="col-md-4">
            <h3>Add Comment</h3>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-md-6 card my-4 card-comment">
            <div class="card-body">
                {% for comment in comments %}
                <div class="card-border p-2 my-4 comment-gray-bg {% if not comment.approved and comment.author == user %}white-bg{% elif not comment.approved %}d-none{% endif %}">
                    <h4>{{ comment.author }}</h4>
                    <hr>
                    <div id="comment{{ comment.id }}">
                        <p>{{ comment.body }}</p>
                    </div>
                    {% if not comment.approved and comment.author == user %}
                    <p class="text-muted small"><em>*Your comment is awaiting approval</em></p>
                    {% endif %}
                    {% if user.is_authenticated and comment.author == user %}
                    <button class="btn btn-outline-secondary btn-sm btn-edit" comment_id="{{ comment.id }}">Edit</button>
                    <button class="btn btn-outline-danger btn-sm btn-delete" comment_id="{{ comment.id }}">Delete</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card my-4 card-edit">
            <div class="card-body">
                {% if user.is_authenticated %}
                <p><strong>Comment author:</strong> {{ user.username }}</p>
                <form id ="blogcommentForm" method="post">
                    {{ blog_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" 
                        class="btn btn-outline-secondary btn-sm">Post Comment</button>
                </form>
                <p class="text-muted small">*all comments subject to review</p>
                {% else %}
                <p>Log in to leave a comment</p>
                <a class="btn btn-outline-dark btn-sm" href="{% url 'account_login' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-heaader">
                <h5 class="modal-title">
                    Are you sure you want to delete?
                </h5>
                <button tyoe="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                This action cannot be undone
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">Keep Comment</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block jsscript %}
<script src="{% static 'js/blog_comments.js' %}"></script>
{% endblock %}