{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <h2>THE OX BOX</h2>
            <p>Strong mind, Strong body, Strong life</p>
        </div>
    </div>
</section>

<section class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h2 class="d-flex justify-content-start">ABOUT ME PAGE</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row justify-content-around">
                {% for about in about_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">{{ about.title }}</p>
                            <p class="card-text" style="font-size: small;">{{ about.content }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row"> 
                <div class="col-12 mt-3 left">
                    <div class="row justify-content-around"> 
            {% endif %}   
            {% endfor %}
            </div>
        </div>
    </div>
    

        <!-- <div class="col-md-5">
            <div class="d-flex justify-content-start my-2"> About me 1</div>
            <div class="d-flex justify-content-start my-2"> About me 2</div>
        </div>
        <div class="col-md-5">
            <div class="d-flex justify-content-start my-2"> About me 3</div>
            <div class="d-flex justify-content-start my-2"> About me 4</div>
        </div> -->

</section>

<section class="container-fluid py-5 contact-me-home">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="">
                <h2>Contact Me</h2>
                <p>Some information about what I can provide - sale info here</p>
            </div>
        </div>
        <div class="col-md-5 align-self-center">
            <button>Contact Me!</button>
        </div>
    </div>
</section>

<section class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-md-5 align-self-center">
            <div>
                <img src="" alt="INSERT IMAGE HERE">
            </div>
        </div>
        <div class="col-md-5">
            <div class="">
                <h2>BLOG PAGES</h2>
                <p>Click here to view more blogs</p>
                <a class="btn btn-submit" href="{% url 'blog' %}">Blog page</a>
            </div>
        </div>
    </div>
</section>
{% if user.is_authenticated %}
<section class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="">
                <h2>WORKOUT PAGES</h2>
                <p>Click here to view more blogs</p>
                <a class="btn btn-submit" href="{% url 'workout' %}">workout page</a>
            </div>
        </div>
        <div class="col-md-5 align-self-center">
            <div>
                <img src="" alt="INSERT IMAGE HERE">
            </div>
        </div>
    </div>
</section>
{% endif %}

{% endblock %}