{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="container-fluid p-0 bg-image hero-image" style="height:350px;">
    <div class="p-5 text-center">
    <div style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
            <h1 class="mb-3">THE OX BOX</h1>
            <h4 class="mb-3" style="font-style: italic;">"Strong mind, Strong body, Strong life"</h4>
        </div>
        </div>
    </div>
    </div>
</section>

<section class="container-fluid mb-5">
    <div class="row justify-content-center">
        <div class="col-md-10 py-5">
            <h2 class="d-flex justify-content-center">OUR MISSION</h2>
            <hr class="title-hr">
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row justify-content-center">
                {% for about in about_list %}
                <div class="col-md-5">
                    <div class="card mb-4 text-center gray-bg">
                        <div class="card-body">
                            <h2 class="card-title">{{ about.title }}</p>
                                <hr class="card-hr">
                            <p class="card-text card-sm">{{ about.content }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row"> 
                <div class="col-12 mt-3 left">
                    <div class="row justify-content-center"> 
            {% endif %}   
            {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="container-fluid py-5 gray-bg">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="">
                <h2>Contact Me</h2>
                <p>Some information about what I can provide - sale info here</p>
            </div>
        </div>
        <div class="col-md-5 align-self-center">
            <button>Contact Me!</button>
        </div>
    </div>
</section>

<section class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card border-0">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{% static 'images/coach-blog2.jpg' %}" alt="personal trainer coaching client" class="card-img">
                    </div>
                
                    <div class="col-md-6">
                            <h2>The Ox Blog</h2>
                            <hr class="title-hr">
                            <p>Read articles from our industry leading staff, who are on hand to provide you with insightful advice to build a stronger you</p>
                            <a class="btn btn-outline-primary" href="{% url 'blog' %}">View artilces</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>
{% if user.is_authenticated %}

<section class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card border-0">
                <div class="row">
                    <div class="col-md-6">
                            <h2>Check out our workouts</h2>
                            <hr class="title-hr">
                            <p>Take on a new challenge and give one of our workouts a go. Log your score and check in with the community</p>
                            <a class="btn btn-outline-primary" href="{% url 'workout' %}">View workouts</a>
                    </div>
                    <div class="col-md-4">
                        <img src="{% static 'images/whiteboard.jpg' %}" alt="discussing a workout on a whiteboard" class="card-img">
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>
{% endif %}

{% endblock %}