{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row my-4">
                <div class="col-md-4 offset-md-1">
                    {% if "placeholder" in profile.profile_image.url %}
                    <img class="img-fluid" src="{% static 'images/defaultimage.jpg' %}" alt="placeholder image">
                    {% else %}
                    <img class="img-fluid rounded" style="height:400px;" src=" {{ profile.profile_image.url }}" alt="{{ post.title }}">
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <h4>Profile username:</h4>
                    <p>{{ user.username }}</p>
                    <h5>Biography: </h5>
                    <div id="bio{{ profile.id }}">
                        <p>{{ profile.bio | safe }}</p>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-md-2 offset-md-10">
                    <a href="{% url 'profile_edit' profile.slug %}" class="btn btn-outline-dark btn-sm">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock content %}
