/* Google Fonts <uniquifier>: 
Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
} */

/* Navbar */
.navbar {
  background-color: #CFD0D0;
}

.navbar-brand {
  color:black;
  font-weight: bold;
}

.nav-link {
  color: black;
  font-weight: 500;
}


.navtitle {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gray-bg {
  background-color: #CFD0D0;
}

/* elements */
.title-hr{
  border: 2px solid black
}
.card-hr{
  border: 1px solid black
}

/* card */
.card-sm{
  font-size: small;
}

/* images */

.hero-image{
  background-image: url("/static/images/hero-image3.jpg");
  color: white;
  max-height: 450px;
     }

.img-container{
  height:350px;
}
.index-img{
  max-width: 80%;
  max-height: 100%;
}

.scale {
  width: 100%;
  height: auto;
  padding: 50px;
}