/* Body style */

body {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

main {
  background-color: #ecf0f0;
}

a {
  text-decoration: none;
  color: black;
}

.container-fluid {
  width: 90%;
}

/* Navbar */
.navbar {
  background-color: #cfd0d0;
}

.navbar-brand {
  color: black;
  font-weight: bold;
}

.nav-link {
  color: black;
  font-weight: 500;
}

.navtitle {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gray-bg {
  background-color: #cfd0d0;
}

.comment-gray-bg {
  background-color: #f7f7f7;
}

.white-bg {
  background-color: #ffffff;
}

/* elements */
.title-hr {
  border: 2px solid black;
}
.card-hr {
  border: 1px solid black;
}

/* card */
.card-sm {
  font-size: small;
}

.card-comment {
  overflow-y: scroll;
  max-height: 500px;
}

.card-edit {
  max-height: 500px;
}

.card-border {
  border: 1px dotted grey;
}

/* images */
.hero-image {
  background-image: url("/static/images/hero-image3.jpeg");
  background-size: contain;
  color: white;
}

.scale {
  width: 100%;
  height: auto;
  padding: 50px;
}

.img-blog {
  max-height: 280px;
}
